---
version: '2.4'

services:
  database:
    build:
      context: postgres-cdc/src/test/resources/postgres
      dockerfile: Dockerfile-18
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test_db
    volumes:
      - data:/var/lib/postgresql/data
    network_mode: host

volumes:
  data:
    driver_opts:
      type: tmpfs
      device: tmpfs
