on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build
        run: ./gradlew build

  cross-version-tests:
    needs: [ build ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        postgres: ["18", "17", "16", "15", "14", "13"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Test PostgreSQL versions
        run: ./gradlew :postgres-cdc:test
        env:
          POSTGRES_VERSION: ${{ matrix.postgres }}

  results:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Build Outcome
    needs: [ build, cross-version-tests ]
    steps:
      - run: |
          buildResult="${{ needs.build.result }}"
          if [[ $buildResult != "success" && $buildResult != "skipped" ]]; then
            exit 1
          fi
          crossVersionTestResult="${{ needs.cross-version-tests.result }}"
          if [[ $crossVersionTestResult != "success" && $crossVersionTestResult != "skipped" ]]; then
            exit 1
          fi
          exit 0


